*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom,rgb(78, 74, 74),grey);
    background-repeat: no-repeat;
    background-size: cover;
    .section-form{
        .student-form{
            input{
                margin: 5px 0;
            }
            button{
                font-weight: 700;
            }
        }
        table{
            margin-top: 50px;
            color:white;
            thead{
                th{
                    cursor: pointer;
                    transition: 0.1s all;
                    &:hover{
                        color:#17a2b8;
                        transform: translateY(-2px);
                    }
                    &:active{
                        transform: translateY(0px);
                    }
                }
            }
        }
        #errors{
            position: relative;
            p{
                font-size: 18px;
                margin:0;
            }
            #alert{
                display: none;
            }
            #alert-number{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
}

